
@import 'https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,700,800,800italic';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic);

body {
    font-family: "Open Sans", Arial;
    font-weight: 300;
    background-color: #f8f8f8;
}

.content .meta {
    color: #a6a6a6;
    margin-bottom: 10px;
    font-style: italic;
}

code {
    border: 0;
}

pre > code {
    padding: 0;
}

a {
    text-decoration: none;
    color: #4078c0;
}

h1, h2, h3, h4, h5 { color: black }

h1 {font-size: 2.5rem;}
h2 {font-size: 2.0rem;}
h3 {font-size: 1.5rem;}

.container {
    padding: 0;
}

.post-list {
    list-style: none;
    display: list-item;
    align-items: center;
}

.post-list .middot {
    padding: 0 15px 0 15px;
}

.post-item .meta {
    float: left;
    width: 150px;
    text-align: right;
    margin-right: 15px;
}

.header .name, .header nav {
    text-transform: uppercase;
    font-size: 1.5rem;
}

section.header {
    margin: 50px 0 50px;
    text-align: center;
}

section.header .name {
    font-size: 3rem;
    color: black;
}

section.header ul li {
    display: inline;
    margin-right: 15px;
}

section.header ul a {
    color: #666666;
}

.icons a {
    color: #666666;
}

section.copyright {
    margin-top: 100px;
    text-align: center;
}

.content {
  padding: 20px;
  margin: 0 0 20px;
  background-color: white;
  color: #5a5a5a;
  border: solid #f3f3f3 1px;
  box-shadow: 2px 2px 2px #f3f3f3;
  border-radius: 2px;
}

.content img {
  max-width: 100%;
}

.banner {
    margin-bottom: 0;
    border: solid #f3f3f3 1px;
    box-shadow: 2px 2px 2px #f3f3f3;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.banner img {
  max-width: 100%;
  margin-bottom: -7px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.time {
    font-weight: 400;
    color: #4078c0;
}

.career-row {
    margin-bottom: 20px;
    border-bottom: dotted #d3d3d3 1px;
}

.career-title {
    font-weight: 600;
}

.career-title-prefix {
    font-style: italic;
    font-weight: 300;
}

career-prefix {}

.banner-container {
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
}

span.label {
    color: #2260b1;
    border: solid #2260b1 1px;
    border-radius: 3px;
    font-size: small;
    padding: 2px 8px 2px 8px;
}
