<section class="main row">
  <div class="row">
    <div class="columns twelve" style="height: 100px; overflow: hidden; margin: -20px -20px 15px">
      <img src="/images/jens-blawatt.jpg" alt="" width="120%">
    </div>
  </div>
  <div class="row">
    <div class="columns twelve">
      <p>
        My Name is <strong>Jens Blawatt</strong>. I'm a softwaredevelper and
        engenier at <strong>GWSmbH</strong> in Münster, Germany.
      </p>
      <p>
        This is my personal website and i will write about
      </p>
      <a href="/about/" class="button">more about me</a>
    </div>
  </div>


</section>
