<section class="row banner">
    <div class="columns twelve">
        <div class="row">
            <div class="columns twelve banner">
                <img src="/images/banner.png" alt="">
            </div>
        </div>
        <div class="row content">
            <div class="columns twelve">
                My Name is <strong>Jens Blawatt</strong>. I'm a softwaredevelper and
                -engenier at <strong>GWSmbH</strong> in Münster, Germany. This page
                is attempt to provide all the (programming) stuff i work on while i'm
                not at work. If you like it feel free to send me some feedback or contribute.
                <br>
                <br>
                <a href="/about/" class="button">more about me</a>
            </div>
        </div>
    </div>
</section>
