<!-- Google Analytics -->
{{ if .Site.Params.GATracker }}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
    var pageTracker = _gat._getTracker("{{ .Site.Params.GATracker }}");
    pageTracker._trackPageview();
} catch(err) {}
</script>
{{ end }}

<script type="text/javascript" src="/js/prism.min.js"></script>
<script type="text/javascript" src="/js/cookie.notice.js"></script>

{{range .Site.Params.ExtraJsFiles}}
    <script src="{{.}}"></script>
{{end}}

{{range .Params.languages}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/prism/1.4.1/components/prism-{{.}}.min.js"></script>
{{end}}
