{{ partial "header.html" . }}
<section class="row content">
    <div class="columns twelve">
        <h1 class="page-heading">Blog</h1>
        <div class="banner-container">
            <img src="/images/blog.png" alt="Blog Teaser Image">
        </div>
        <ul class="post-list">
            {{ range .Data.Pages.ByPublishDate }}
                {{ if eq .Section "blog" }}
                    {{ partial "li.html" . }}
                {{ end }}
            {{ end }}
        </ul>
    </div>
</section>
{{ partial "footer.html" . }}
